body {
    background-color: black;
    display: flex;
    flex-direction: row;
    height: 100vh;
    box-sizing: border-box;
    margin: 0;
}

.left
{
    background-color: green;
    flex: 1;

    padding-top: 200px;
}

.right
{
    background-color: red;
    flex: 3;
}

.logo 
{
    height: 100px;
    width: 100%;
    background-color: grey;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
}
